# Format Function

In [2]:
cities = ['Karachi', 'Islamabad', 'Quetta']
person = ['Ahmed', 'Fawad', 'Rizwan']

In [ ]:
Sample : Ahmed lives in Karachi

In [4]:
for i in range(len(person)):
    print(person[i], 'lives in', cities[i])

Ahmed lives in Karachi
Fawad lives in Islamabad
Rizwan lives in Quetta

In [6]:
for i in range(len(person)):
    template = '{1} lives in {0}'
    print(template.format(person[i], cities[i]))

Karachi lives in Ahmed
Islamabad lives in Fawad
Quetta lives in Rizwan

# Enumerate Function

In [7]:
l1 = ['a', 'b', 'c']
s1 = 'MSquareH'

print(list(enumerate(l1)))
print(list(enumerate(s1)))

[(0, 'a'), (1, 'b'), (2, 'c')]
[(0, 'M'), (1, 'S'), (2, 'q'), (3, 'u'), (4, 'a'), (5, 'r'), (6, 'e'), (7, 'H')]

In [12]:
for x, y in enumerate(l1):
    if x % 2 == 0:
        print(y)

a
c

# Join Function

In [24]:
' and '.join(l1)

'a and b and c'